@import url('./fonts.css');
@import url('./nav.css');
@import url('./jumbo.css');
@import url('./products.css');
body{
    background:rgba(37, 43, 66, 1);
    margin: 0px;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 1);
}
a{
    text-decoration: none;
    color: #ffffff;
}
